<!DOCTYPE html>
<html lang="jp">
<head>
    <meta http-equiv="content-type"
          content="text/html; charset=UTF8">
    <title><%= title %></title>
    <link rel="stylesheet" 
          href="http://stackpath.bootstrap/4.4.1/css/
                bootstrap.min.css"
          crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <h1><%= title %>
    </header>
    <div role="main">
        <p><%- content %></p>
        <form method="POST" action="/users/login">
        <table>
            <tr>
               <th><label for="name">NAME</label></th>
                <td><input type="text" name="name" id="name"></td>
            </tr>

            <tr>
                <th><label for="pass">PASSWORD</label></th>
                 <td><input type="password" name="pass" id="pass"></td>
             </tr>

             <tr>
                <th></th>
                 <td><input type="submit" value="ログイン"></td>
             </tr>
        </table> 
        </form>
        <p><a href="/boadrs">&lt;&lt; Top へ戻る</a>
        　<a href="/users/add">アカウント作成&gt;&gt;</a></p>
    </div>
</body>
</html>